.app {
    text-size-adjust: none;
    font-family: helvetica, arial, sans-serif;
    line-height: 200%;
    /*padding: 6px 20px 30px;*/
    /*background-color: rgb(245, 208, 55);*/
    height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(245, 208, 55);
  /*background-color: blue;*/
}

/* navbar */
.navbar {
  background-color: red;
}

.navbar-default {
  background-color: red;
}

.navbar-collapse {
  background-color: red;
}

.navbar-header {
  background-color: red;
}

/* style the div w/ the id of "diana" */

#diana {
  background-color: green;
  border-style: solid;
  border-color: red;
}
