.app {
    text-size-adjust: none;
    font-family: helvetica, arial, sans-serif;
    line-height: 200%;
    /*padding: 6px 20px 30px;*/
    /*background-color: rgb(245, 208, 55);*/
    height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  /*background-color: rgb(245, 208, 55);*/
  /*background-color: #ba832c;*/
  background-color: #2E2A24;
  /*background-color: blue;*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

/* navbar */
.navbar {
  /*background-color: rgb(245, 208, 55);*/
  background-color: #2E2A24;
}

.navbar-default {
  background-color: #2E2A24;
  /*background-color: rgb(245, 208, 55);*/
  border-color: transparent;
}

.navbar-collapse {
  /*background-color: rgb(245, 208, 55);*/
  background-color: #2E2A24;
}

.navbar-header {
  /*background-color: rgb(245, 208, 55);*/
  background-color: #2E2A24;
}

.navbar-default .navbar-brand {
  color: #F9D094;
  font-weight: 800;
  font-size: 300%;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #F9D094;
  border-color: #F9D094;
  background-color: #F9D094;
}

.navbar-toggle, .icon-bar {
   border:1px solid red;
}

.navbar-preheader .navbar-toggle:hover .icon-bar {
    background-color: #2E2A24;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2E2A24;
}

.navbar-default .navbar-toggle {
    border-color: #F9D094;
}

.navbar-default .navbar-nav > li > a {
    color: #F9D094;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #2E2A24;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #2E2A24;*/
    background-color: #2E2A24;
}
/* change color of hamburger menu outline */
.navbar-default .navbar-toggle {
  border-color:#F9D094 ;
}

.navbar-default div.navbar-collapse {
  border-top:none;
  box-shadow:none;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: green;
}

/* set the color of the navbar-brand when hovered over with a mouse */
.navbar-default .navbar-brand:hover {
  color: #f9c06c;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f9c06c;
}

/* style the div w/ the id of "diana" */
#diana {
  /*background-color: green;*/
  /*border-style: solid;*/
  /*border-color: red;*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
  color: #F9D094;
}

#container {
    display: flex; /* establish flex container */
        flex-direction: row; /* make main axis horizontal (default value) */
        justify-content: center; /* center items horizontally, in this case */
        align-items: center; /* center items vertically, in this case */
    /*height: 300px; /* for demo purposes */
    /*border: 1px solid black; /* for demo purposes */
    /*background-color: #eee; /* for demo purposes */
}

.box {
    width: 500px;
    margin: 5px;
    text-align: center;
}

/*#bluebox { background: aqua; }*/
/*#redbox { background: red; }*/

#iphone {
  padding-left: 10%;
  padding-bottom: 10%;
  /*border-style: solid;*/
  /*border-color: red;*/
  /*float: left;*/
  width: 50%;
  position: relative;
  /*background-image: url("../images/iphone-template.jpg");*/
}

#message {
  padding-right: 5%;
  padding-top: 10%;
  padding-left: 20%;
  /*border-style: solid;
  border-color: green;*/
  /*float: right;*/
  /*width: 50%;*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
  color: #F9D094;
  height: 100%;
  text-align: center;
  position: relative;
}

#wilson {
  /*border-style: solid;*/
  /*border-color: red;*/
}

#chris {
  /*border-style: solid;*/
  /*border-color: red;*/
}
