.app {
    text-size-adjust: none;
    font-family: helvetica, arial, sans-serif;
    line-height: 200%;
    /*padding: 6px 20px 30px;*/
    /*background-color: rgb(245, 208, 55);*/
    height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  /*background-color: rgb(245, 208, 55);*/
  /*background-color: #ba832c;*/
  background-color: #2E2A24;
  /*background-color: blue;*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

/* navbar */
.navbar {
  /*background-color: rgb(245, 208, 55);*/
  background-color: #2E2A24;
}

.navbar-default {
  background-color: #2E2A24;
  /*background-color: rgb(245, 208, 55);*/
  border-color: transparent;
}

.navbar-collapse {
  /*background-color: rgb(245, 208, 55);*/
  background-color: #2E2A24;
}

.navbar-header {
  /*background-color: rgb(245, 208, 55);*/
  background-color: #2E2A24;
}

.navbar-default .navbar-brand {
  color: #F9D094;
  font-weight: 800;
  font-size: 300%;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #F9D094;
  border-color: #F9D094;
  background-color: #F9D094;
}

.navbar-toggle, .icon-bar {
   border:1px solid red;
}

.navbar-preheader .navbar-toggle:hover .icon-bar {
    background-color: #2E2A24;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2E2A24;
}

.navbar-default .navbar-toggle {
    border-color: #F9D094;
}

.navbar-default .navbar-nav > li > a {
    color: #F9D094;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #2E2A24;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #2E2A24;*/
    background-color: #2E2A24;
}
/* change color of hamburger menu outline */
.navbar-default .navbar-toggle {
  border-color:#F9D094 ;
}

.navbar-default div.navbar-collapse {
  border-top:none;
  box-shadow:none;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: green;
}

/* set the color of the navbar-brand when hovered over with a mouse */
.navbar-default .navbar-brand:hover {
  color: #f9c06c;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f9c06c;
}

/* style the div w/ the id of "diana" */
#diana {
  /*background-color: green;*/
  /*border-style: solid;*/
  /*border-color: red;*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
  color: #F9D094;
}

#wilson {
  /*border-style: solid;*/
  /*border-color: red;*/
}
